{% extends 'base.html' %}

{% block content %}
<p><a href="/login/user1">Залогиниться первым пользователем</a></p>
<p><a href="/login/user2">Залогиниться вторым пользователем</a></p>
<p><a href="/login/user3">Залогиниться третьим пользователем</a></p>

<p></p>

<p><a href="/points">Посмотреть точки</a></p>
<br />
<p><a href="/routes/2">Посмотреть маршруты первого пользователя</a></p>
<p><a href="/routes/3">Посмотреть маршруты второго пользователя</a></p>
<p><a href="/routes/4">Посмотреть маршруты третьего пользователя</a></p>

<br />
<p><a href="/create_route">Создать маршрут</a></p>

<br />
<p><a href="/summary">Посмотреть отчёт</a></p>
{% endblock %}
